h3
{
    text-align:center;
}
table,th,td{
    border: 1px black solid;
    margin-left: 20px;
    padding-right: 2px;
    padding-left: 2px;
}
th,td{
    text-align: center;
}
#result
{
    text-align: center;
}
button
{
    background-color: cornflowerblue;
}